html, body{
  width: 99.5%;
  height: 100%;
  margin-top: 3px;
  background-color: rgb(34, 34, 34);
  
}

ul, li {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

a {
 position: relative; 
 display: inline;
 text-decoration: none;
 color: black;
}

.titleMenu {
  color: yellow;
  display: flex;
  background-color: rgb(95, 95, 95);
  height: 70px;
  align-items: center;
  flex-grow: 1;
}

.textoImage{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.textoImage:hover {
  color: rgb(251, 251, 251);
}

nav.menu { 
  display: flex; 
  background-color: yellow;
  padding-right: 15px;
  height: 70px;
  align-items: center;
  justify-content: space-around;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding-left: 3%;
  width: 30%;
}

.container {
  display: flex;
  width: 95%; 
  height: 500px; 
  margin-top: 4%;
  margin-left: 2%;
  margin-right: 2%;
  justify-content: space-around;
}


footer{
  margin-top: 10%;
  background: yellow;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
}

 img:hover { 
   transition: 0.5s; 
   transform: scale(1.07); 
  
}

.animalPhoto{
  width: 300px;
  border-radius: 3%;
}

.titleMenu:hover {
  font-size: 30px; 
}

.wordsMenu:hover {
  color: rgb(219, 219, 219);
}

.boxImg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px;
  background: gray;
  padding-bottom: 200px;
  border-radius: 3%;
  
  
}

@media (max-width: 700px) {
 ul {
   display: flex;
   flex-direction: column;
 }

 .container {
   flex-direction: column;
   height: auto;
   align-items: center;
   
 }
 .animalPhoto {
   width: 100%;
   
 }

 .boxImg{
width: 50%;
padding-bottom: 0px;
margin-bottom: 5%;
 }

 li {
   width: 150px;
 }

 .titleMenu {
   display: none;
 }

}